# --- Node ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# --- Logs y dumps ---
logs/
*.log
*.pid
*.seed
*.pid.lock
dump.rdb
core.*
*.sqlite

# --- Directorios temporales ---
tmp/
temp/
.cache/
dist/
coverage/

# --- Docker artefacts ---
*.tar
.dockerignore

# --- VS Code / IDE ---
.vscode/
.idea/
*.sw?
*.iml

# --- Sistema operativo ---
.DS_Store
Thumbs.db
